# GBK Swap backend configuration
# Do NOT put real API keys here.

ONRAMP_API_KEY=
ONRAMP_API_SECRET=
ONRAMP_BASE_URL=

GBK_TOKEN_ADDRESS=0xdA0638EA374c4c5bF2914E6F4D5B2335dEb8D80D
USDT_TOKEN_ADDRESS=0x55d398326f99059fF775485246999027B3197955
BNB_CHAIN_ID=56
